@import 'scss/libs/variables.scss';
@import 'scss/libs/mixins.scss';

.hero {
	display: block;
}

.title {
	@include text-styles(60px, $bold, $yellow);
	max-width: 700px;
}

.text {
	@include text-styles(25px, $regular, $yellow, ('Lato', 'sans-serif'));
	margin-top: 40px;
}

.button {
	@include text-styles(24px, $regular, $yellow);
	display: inline-block;
	margin-top: 40px;
	background-color: transparent;
	padding: 20px 50px;
	border: 1px solid $yellow;
	border-radius: 40px;
	transition: background-color 0.8s ease, color 0.8s ease;
	cursor: pointer;

	&:hover {
		background-color: $yellow;
		color: $darkBlue;
	}

	&:active {
		background-color: $orange;
		transition: background-color 0.2s ease;
	}
}