@import 'scss/libs/variables.scss';
@import 'scss/libs/mixins.scss';

.description {
	display: block;


	@media (max-width: 480px) {
		height: 70px;
	}
}

.title {
	@include text-styles(30px, 500, $yellow);
	cursor: grab;
}

.text {
	@include text-styles(22px, 400, $yellow, ('Lato', sans-serif));
	margin-top: 20px;
	min-height: 80px;
	cursor: grab;
}